<section class="top-header">
  <h2>{{pageTitle}}</h2>

  <div class="user-info">
    <div>
      <h5>{{ psicologo?.nome }}</h5>
      <p>{{ psicologo?.email }}</p>
    </div>
    <div class="user-image-container">
      <img [src]="imagemPreview || 'assets/img/user-placeholder.png'" alt="Foto do usuário">
      <input type="file" #fileInput style="display: none" accept="image/*" (change)="onFileSelected($event)">
      <button class="upload-btn" (click)="fileInput.click()">Alterar foto</button>
    </div>
  </div>
</section>
