<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="prevMonth()">&#60;</button>
    <span>{{ nomeMes }} {{ currentDate.getFullYear() }}</span>
    <button (click)="nextMonth()">&#62;</button>
  </div>
  <div class="calendar-weekdays">
    <span *ngFor="let wd of weekDays">{{ wd }}</span>
  </div>
  <div class="calendar-grid">
    <div *ngFor="let _ of blanks" class="calendar-day blank"></div>
    <div
      class="calendar-day"
      *ngFor="let day of days"
      (click)="selectDay(day)"
      [class.today]="isToday(day)"
      [class.selected]="day === selectedDay"
      [class.dia-desabilitado]="isPastDay(day)"
    >
      {{ day }}
    </div>
  </div>
</div>
