<section class="login-container">
  <div class="login-container-form">
    <div style="max-width: 400px">
      <img src="/assets/img/cuidar+logo.svg" alt="Cuidar+ Logo" />
      <div class="login-form">
        <h2 class="text-center" style="font-size: 30px">Acesar</h2>
        <app-forms></app-forms>
      </div>
    </div>
    <a href="" class="text-center"
      >Não é nosso cliente?
      <strong class="link-primary-cuidar">Contrate agora</strong></a
    >
  </div>
  <div class="login-container-image">
    <img src="/assets/img/img-login.png" alt="Imagem de login" />

    <div class="login-image-gradient"></div>

    <div class="login-image-text">
      <h2>Bem-vindo ao Cuidar+</h2>
      <p>
        Organize sua agenda e atendimentos de forma simples e eficiente. Acesse sua conta e facilite sua rotina como psicólogo.
      </p>
    </div>
  </div>
</section>
